* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* == 10px */
}
body {
    font-size: 1.6rem; /* == 16px */
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Sen", sans-serif;
}

/* ========== COMMON ========== */

a {
    text-decoration: none;
}

/* -- class */

.cm-main-content {
    /* left right : 135px */
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.cm-heading {
    color: #171100;
    font-family: var(--secondary-font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%; /* 4.8rem */
    letter-spacing: -0.076rem;
}

.cm-desc {
    color: #5f5b53;
    font-style: normal;
    font-weight: 400;
}

/* block */

.row {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}
.row-spb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.column-spb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.cm-line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 3);
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cm-w-break-all {
    word-break: break-all;
}

.btn {
    display: inline-block;
    border-radius: 999px;
    text-align: center;
}
.btn:hover {
    opacity: 80%;
    cursor: pointer;
}

/* - text */

.text-over-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ========== BODY ========== */

/* === Navigation === */

.nav-bar {
    position: sticky;
    top: -22px;
    padding-top: 36px;
    padding-bottom: 14px;
    background: #fffcf4;
    z-index: 2;
}

.nav-bar .menu {
    gap: 70px;
    align-items: center;
}
.nav-bar .menu .menu-list {
    gap: 42px;
    align-items: center;
}

/* first nav */
.nav-bar .menu-list li:first-child a {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%; /* 28px */
}
.nav-bar .menu-list li:first-child a::after {
    position: absolute;
    top: 101%;
    left: 0%;
    /*  */
    display: block;
    content: "";
    background-color: #171100;
    height: 2px;
    width: 30%;
    border-radius: 999px;
}
.nav-bar .menu-list li:first-child:hover a::after {
    width: 100%;
    transition: 0.4s;
}

/* after first nav */
.nav-bar .menu-list li:not(:first-child) a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 28px */
}
.nav-bar .menu-list li:not(:first-child):hover a {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-shadow: 0px 0px 1px black;
}

/* nav btn */
.nav-bar .menu .nav-btn {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%; /* 28px */
    /*  */
    border-radius: 2.45rem;
    background: #171100;
    padding: 11px 41px;
}

/* === Hero === */

.hero {
    padding-top: 50px;
    padding-bottom: 65px;
    background: #fffcf4;
    /* height: calc(100vh - 100px); */
}
.hero > .cm-main-content.row {
    gap: 230px;
}
/* == left == */

.hero .media-block .main-pic {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.hero .media-block {
    position: relative;
}

.hero .media-block .hero-summary {
    position: absolute;
    bottom: 7%;
    left: 65%;
    /*  */
    display: flex;
    flex-direction: column;
    gap: 22px;
    /*  */
    min-width: 270px;
    max-width: 345px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.09);
    padding: 24px 24px;
}

.hero .media-block .course-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .course-item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.hero .course-item:nth-child(1) .icon {
    background-color: #fff9e8;
}
.hero .course-item:nth-child(2) .icon {
    background-color: #fcefff;
}
.hero .course-item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero .course-item .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%; /* 2.6rem */
}
.hero .course-item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 3rem */
}

/* == right == */
.hero .info .heading {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 117.241%; /* 6.8rem */
    letter-spacing: -0.116rem;
}

.hero .info .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; /* 3rem */
}
.hero .info .heading + .desc {
    margin-top: 22px;
}

/* cta */
.hero .info .cta-group {
    align-items: center;
    gap: 28px;
    margin-top: 38px;
}

.hero .info .cta-group .btn {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 3rem */
    background-color: var(--primary-color);
    padding: 17px 34px;
}

.hero .cta-group .play-video {
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hero .cta-group .play-video .icon {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.174);
}
.hero .cta-group .play-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 3rem */
}

/* engage */
.hero .info .engage {
    margin-top: 48px;
}

.hero .info .engage .desc.row {
    gap: 28px;
    margin-top: 8px;
}

.hero .engage .desc.row .engage-stat {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%; /* 5.4rem */
}

/* === Popular === */

.popular {
    margin-top: 200px;
}

/* upon tile */
.popular .popular-header .heading {
    width: 458px;
}

.popular .popular-header .heading-desc {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 166.667%; /* 3rem */
}

.popular .popular-header .carousel-group {
    gap: 18px;
    align-items: center;
}

.popular .carousel-group .left-btn,
.popular .carousel-group .right-btn {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.popular .carousel-group .left-btn:hover,
.popular .carousel-group .right-btn:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
}

/* = course list = */

.popular .course-list {
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    width: 370px;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
}
.popular .course-item:hover .item-cost .cta-btn {
    background-color: var(--primary-color);
    transition: 0.4s;
}

.popular .course-item .item-img {
    display: block;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -1px;
}

.popular .course-item .item-body {
    margin: 16px 22px 22px;
}

.popular .course-item .head-line {
    align-items: center;
    margin-top: 16px;
}

.popular .course-item .item-name .link {
    --line-clamp: 1;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 3rem */
}

.popular .course-item .rate {
    padding-left: 16px;
    align-items: center;
    gap: 6px;
}

.popular .course-item .star {
    width: 18px;
    height: 18px;
}

.popular .course-item .rate-number {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 2.8rem */
}

.popular .course-item .item-decs {
    --line-clamp: 2;
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 185.714%; /* 2.6rem */
}

.popular .course-item .item-cost {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 3rem */
}

.popular .course-item .item-cost .cta-btn {
    padding: 12px 24px;
    background-color: #171100;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 185.714%; /* 2.6rem */
    border-width: 0;
}

/* === Feedback === */

.feedback {
    background: #2e2100;
    margin-top: 200px;
}

.feedback .cm-main-content {
    padding: 96px 0px;
}

.feedback .student-info .avatar {
    display: block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
}

.feedback .student-info .name {
    color: #f7f7f7;
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%; /* 3.4rem */
}

.feedback .student-info .course {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%; /* 2.6rem */
}

.feedback .student-info .ctrl-btn {
    gap:6px

}
.feedback .ctrl-btn .dot-btn {
    background-color: #634700;
    height: 6px;
    width: 6px;
    padding: 0;
    border-radius: 50%;
    border: 0;
}
.feedback .ctrl-btn .dot-btn:hover {
    background-color: var(--primary-color) ;
    cursor: pointer;
}
